---
layout: page
title: "Blogs"
meta: A list of blogs from George Pius Chettupuzha's desk. Hope you like them :)
priority: 0.8
changefreq: weekly
keywords: Blog, views, thoughts, opinions, beliefs, practice, Technology, Personal, Computer languages, knowledge, experience, nature
---

<!-- Each post and blog -->
<script type="application/ld+json">
{ 
    "@context": "http://schema.org", 
    "@type": "Blog",
    "name": "{{page.title}}",
    "headline":"{{ page.title }}",
    "genre":"{{ page.category }}",
    "keywords": "{{page.keywords}}", 
    "url": "{{site.url}}",
    "inLanguage": "en",
    "datePublished":"{{ page.date | date: '%Y-%m-%d' }}",
    {% if page.author contains "George Pius Chettupuzha" %}
        {% include schema/author.html %}
    {% else %}
    "author": {
        "@type": "Person",
        "name": "{{page.source}}",
        "sameAs": [
            "{{page.source}}"
        ]
    },
    {% endif %}
   "publisher":{  
      "@type":"Organization",
      "name":"George Pius Chettupuzha",
      "sameAs":[  
        "https://www.facebook.com/george.pius.338",
        "https://www.instagram.com/george_pius_chettupuzha/",
        "https://plus.google.com/113602369345518062791",
        "https://twitter.com/Mg17George"
      ],
      "logo": {
        "@type": "ImageObject",
        "contentUrl": "{{site.url}}/img/profile-pic.jpg",
        "url": "{{site.url}}"
    }
   },
   "image":{  
      "@type":"ImageObject",
      "contentUrl":"{{site.url}}/img/profile-pic.jpg",
      "url":"{{site.url}}",
      "height":"1218",
      "width":"1218"
   },
   "mainEntityOfPage":{  
      "@type":"WebPage",
      "@id":"{{site.url}}{{ page.url }}"
   }
 }