---
layout: default
title: "Home"
meta: This site reflects everything about George Pius, his personal and professional blog, work portfolio and links you to his contact information. Please get in touch with George in case you have a business idea, challenge or problem.
priority: 1.0
changefreq: weekly
keywords: George Pius, Self Bio, professional blog, personal content, contact info, statically hosted, static site
---

<span class="page-header">Home</span>

<article class="page-content">

    Thanks for dropping by. Do have a look at my occasional blog and self-featured Bio :)

</article>

<div class="nav-col">
    <span class="post-header">Recently Published</span>
    {% for post in site.posts limit: 5%}
        {% assign postTimestamp = post.date | date: '%s' %}
        {% assign nowTimestamp = 'now' | date: '%s' %}
        {% if postTimestamp <= nowTimestamp %}
            <p><a href="{{site.domainUrl}}{{site.baseUrl}}{{post.url}}">{{post.title}}</a></p>
        {% endif %}
    {% endfor %}
</div>

