<ul class="archive">
    {% assign sorted_posts = (site.data.galleries | sort: 'date') %}
    {% for post in sorted_posts reversed %}

        {% capture month %}{{ post.date | date: '%B %Y' }}{% endcapture %}

        {% unless monthIndex %}
        
            {% assign monthIndex = month %}

            <h3>{{ month }}</h3>
                    
        {% else %}

            {% unless month == monthIndex %}
                
                {% assign monthIndex = month %}
                <h3>{{ month }}</h3>

            {% endunless %}            
            
        {% endunless %}
            
        <li><span class="date">{{ post.date | date:"%d. %b" }}</span> <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/'}}">{{ post.title }}</a></li>
    
    {% endfor %}
</ul>   