<div class="sidebar">
    <div class="widget">
        <h3 class="title">Categories</h3>
        <ul class="category_list">            
            {% assign category_list = nil %}
            {% assign data = site.data.galleries %}
            {% for block in data %}                
                {% if block.category %}                    
                    {% assign category_list = category_list | append: ',' | append: block.category %}              
                {% endif %}
            {% endfor %}            
            {% assign category_list = category_list | split: ',' | uniq | replace: '[', '' | replace: ']', '' | replace: '"', '' | replace: ',', '' | replace: '\', '' | split: ' ' %}
            {% for category in category_list %}
                <li><a href="{{ site.category_dir | prepend: site.baseurl | replace: '//', '/' }}/{{ category }}">{{ category }}</a></li>
            {% endfor %}
            {% assign category_list = nil %}
        </ul>
    </div>
    <div class="widget">
        <h3 class="title">Tags</h3>
        <ul class="tag_list">                        
            {% assign tag_list = nil %}
            {% assign data = site.data.galleries %}
            {% for block in data %}
                {% if block.tags %}                    
                    {% assign tag_list = tag_list | append: ',' | append: block.tags %}              
                {% endif %}
            {% endfor %}            
            {% assign tag_list = tag_list | split: ',' | uniq | replace: '[', '' | replace: ']', '' | replace: '"', '' | replace: ',', '' | replace: '\', '' | split: ' ' %}
            {% for tag in tag_list %}
                <li><a href="{{ site.tag_dir | prepend: site.baseurl | replace: '//', '/' }}/{{ tag }}">{{ tag }}</a></li>
            {% endfor %}
            {% assign tag_list = nil %}
        </ul>
    </div>

    <div class="widget">
        <h3 class="title">Authors</h3>
        <ul class="author_list">
            {% for author in site.data.authors %}
                <li>
                    <a href="{{ site.author_dir | prepend: site.baseurl | replace: '//', '/' }}/{{ author.id }}">
                        {% if author.name %}
                            {{ author.name }}
                        {% else %}
                            {{ author.id }}
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
