<header>
    <nav>
        <ul class="nav">        
            <li class="{% if page.url == '/' %}active{% endif %}"><a href="{{site.baseUrl}}/">GPhotography</a></li>
            <li class="{% if page.url == '/blogs/' %}active{% endif %}"><a href="{{site.baseUrl}}/blogs/">Blog</a> </li>
            <li class="{% if page.url == '/me/' %}active{% endif %}"><a href="{{site.baseUrl}}/me/">Bio</a></li>
            <li class="{% if page.url == '/portfolio/' %}active{% endif %}"><a href="{{site.baseUrl}}/Work Portfolio/">Work Portfolio</a></li>
        </ul>
    </nav>
</header>
