{% if {{include.entry.title}} %}

    {% unless {{include.entry.title}} contains "Posted by" or {{include.entry.title}} contains "Category" or {{include.entry.title}} contains "Page" or {{include.entry.title}} contains "Tag" %}

        <p>
            <a href="{{ include.entry.url}}">{% if {{include.entry.title}} != 'Home' %}{{include.entry.title}}{% else %}Index{% endif %}</a>
        </p>

        {% if {{include.entry.meta}} %}<span>{{include.entry.meta}}</span>{% endif %} 

    {% endunless %}

{% endif %}
