<ul class="archive">
    {% assign sorted_posts = (site.data.galleries | sort: 'date') %}
    {% for post in sorted_posts reversed %}

        {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}

        {% unless yearIndex %}
        
            {% assign yearIndex = year %}

            <h3>{{ year }}</h3>
                   
        {% else %}            

            {% unless year == yearIndex %}
                
                {% assign yearIndex = year %}
                <h3>{{ year }}</h3>

            {% endunless %}            
        
        {% endunless %}
        
        <li><span class="date">{{ post.date | date:"%d. %b" }}</span> <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/'}}">{{ post.title }}</a></li>

    {% endfor %}
</ul>
