"author": {
            "@type": "Person",
            "name": "George Davis C",
            "givenName": "George Joseph Davis Chettupuzha",
            "familyName": "Chettupuzha",
            "additionalName": "Gdcrocx",
            "gender": "http://schema.org/Male",
            "nationality": "Indian",            
            "sameAs": [
                "https://twitter.com/GDCrocx",
                "https://github.com/gdcrocx",
                "https://plus.google.com/+GeorgeDavisGdcrocx",
                "https://www.facebook.com/GDCrocx",
                "https://www.linkedin.com/in/george-davis-c-0a042563"
            ]
        }