"author": {
            "@type": "Person",
            "name": "George Pius Chettupuzha",
            "givenName": "George Pius Chettupuzha",
            "familyName": "Chettupuzha",
            "additionalName": "George Pius Chettupuzha",
            "gender": "http://schema.org/Male",
            "nationality": "Indian",            
            "sameAs": [
                "https://www.facebook.com/george.pius.338",
                "https://www.instagram.com/george_pius_chettupuzha/",
                "https://plus.google.com/113602369345518062791",
                "https://twitter.com/Mg17George"
            ]
        },