<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px"
	 height="16px" viewBox="0 0 360 202.464" enable-background="new 0 0 360 202.464" xml:space="preserve">
<g id="Rounded_Rectangle_1_1_" enable-background="new    ">
	<g id="Rounded_Rectangle_1">
		<g>
			<path d="M324.864,18.432H38.592c-3.976,0-7.2,3.224-7.2,7.2v155.52c0,3.977,3.224,7.2,7.2,7.2h286.272c3.976,0,7.2-3.224,7.2-7.2
				V25.632C332.064,21.656,328.84,18.432,324.864,18.432z"/>
		</g>
	</g>
</g>
<g id="Ellipse_1_2_" enable-background="new    ">
	<defs>
		<ellipse id="SVGID_1_" enable-background="new    " cx="190.944" cy="100.368" rx="96.769" ry="96.912"/>
	</defs>
	<clipPath id="SVGID_2_">
		<use xlink:href="#SVGID_1_"  overflow="visible"/>
	</clipPath>
	<g clip-path="url(#SVGID_2_)">
		
			<image overflow="visible" width="1250" height="703" id="Ellipse_1_xA0_Image" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAABOIAAALECAYAAAClo59XAAAACXBIWXMAACZyAAAmcgEhK5fuAAAA
GXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAE9tJREFUeNrs2EENgDAABEEgFYaa
2gRp4IBX90FmkjNwz902AAAAAAAAAAAA+IN9znm6AQAAAADWGu8uNwAAAADAWocLAAAAAGA9IQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4A
AAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBjvbjcAAAAAAAAAAAAAAAAAAPDtEWAAXxQIdcHOdUEA
AAAASUVORK5CYII=" transform="matrix(0.288 0 0 0.288 0 0)">
		</image>
	</g>
</g>
<g id="HandBump_1_" enable-background="new    ">
	<g id="HandBump">
		<g>
			<path fill="#C7E500" d="M81.792,27.072h-31.68c-3.976,0-7.2,3.224-7.2,7.2v134.784c0,3.977,3.224,7.2,7.2,7.2h31.68
				c3.977,0,7.2-3.224,7.2-7.2V34.272C88.992,30.295,85.769,27.072,81.792,27.072z"/>
		</g>
	</g>
</g>
<g id="Flash_2_" enable-background="new    ">
	<defs>
		<path id="SVGID_3_" enable-background="new    " d="M319.392,26.496h-31.68c-3.977,0-7.2,3.223-7.2,7.2v0.288
			c0,3.977,3.224,7.2,7.2,7.2h31.68c3.977,0,7.2-3.224,7.2-7.2v-0.288C326.592,29.719,323.368,26.496,319.392,26.496z"/>
	</defs>
	<clipPath id="SVGID_4_">
		<use xlink:href="#SVGID_3_"  overflow="visible"/>
	</clipPath>
	<g clip-path="url(#SVGID_4_)">
		
			<image overflow="visible" width="1250" height="703" id="Flash_xA0_Image" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAABOIAAALECAYAAAClo59XAAAACXBIWXMAACZyAAAmcgEhK5fuAAAA
GXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAE9xJREFUeNrs2EkNgEAABMGFIAzp
CMAThwJe2w9SlYyBefYYAAAAAAAAAAAA8AfLuM7dDQAAAAAw1xviLjcAAAAAwFyrCwAAAABgPiEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEO
AAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABDYnh1uAAAAAAAAAAAAAAAAAADg2y3AAFscCxabtWlM
AAAAAElFTkSuQmCC" transform="matrix(0.288 0 0 0.288 0 0)">
		</image>
	</g>
</g>
<g id="HandGripGroup_1_">
	<defs>
		<filter id="Adobe_OpacityMaskFilter" filterUnits="userSpaceOnUse" x="0" y="0" width="360" height="202.464">
			<feColorMatrix  type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 1 0"/>
		</filter>
	</defs>
	<mask maskUnits="userSpaceOnUse" x="0" y="0" width="360" height="202.464" id="HandGrip_copy_xA0_Image_2_">
		<g id="HandGrip_copyOpacity_Mask_3_" filter="url(#Adobe_OpacityMaskFilter)">
			
				<image overflow="visible" width="1250" height="712" id="HandGrip_copyOpacity_Mask_2_" xlink:href="data:image/jpeg;base64,/9j/4AAQSkZJRgABAgEA+gD6AAD/7AARRHVja3kAAQAEAAAAHgAA/+4AIUFkb2JlAGTAAAAAAQMA
EAMCAwYAAA1RAAARKgAAGTD/2wCEABALCwsMCxAMDBAXDw0PFxsUEBAUGx8XFxcXFx8eFxoaGhoX
Hh4jJSclIx4vLzMzLy9AQEBAQEBAQEBAQEBAQEABEQ8PERMRFRISFRQRFBEUGhQWFhQaJhoaHBoa
JjAjHh4eHiMwKy4nJycuKzU1MDA1NUBAP0BAQEBAQEBAQEBAQP/CABEIAssE4gMBIgACEQEDEQH/
xACzAAEAAgMBAQAAAAAAAAAAAAAABgcBBAUDAgEBAAAAAAAAAAAAAAAAAAAAABAAAQQCAgECAwcF
AAAAAAAABQEDBAZAAnAHYAAVMBEUILAhMRITNRBQwDIlEQACAQICBQYJCQQIBwAAAAABAgMRBAAh
QHAxQRJRYYEiQgVxkaHRMlJyEyMwYLHBYoKyFCSSQ1MVECBQwOGiM3PC0oOjhKRFEgEAAAAAAAAA
AAAAAAAAAACw/9oADAMBAAIRAxEAAACwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGNc2XA0iW
IltEjeXqAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAADjnVisF4xIOF8AAC2JRX9gAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAjx4Vb8+YAAABKrUoLfLwVtNDqsZAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAANSlpVCQAAAAAB9/Am9h0L2S52jvAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA8z01YxCjleQA
AAAAAAAda4aIlZarGQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAABhDzp1lzfgAAAAAAAAAAZwLdkdQ26ZAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAOacWrfXwAAAAAAAAAAAAPq8aMtUlYAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMVTPKbMAAAAAAAAAAAAAWFXs7LFAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA09uqTi6AAAAAAAAAAAAAAJ
/ALPJiAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACP0/KoqA
AAAAAAAAAAAAAZuqqrpMgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAeXrxSn/EAAAAAAAAAAAAAB2SaTP4+wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAABFZVEirAAAAAAAAAAAAADZMXFrd8AAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQqaUycYAAAAAAAAAAAyYdibkKtHpfYAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAANc2PiBw0sqpgAAAAAAAAAAzN
te0CJdvpjGQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAYQ0
36x0/kAAAAAAAAAAAZxJyxOqAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAA0zh1TsaoAAAAAAAAAAAAuCvbhMgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAVpYVHHiAAAAAAAAAAAASYnMhAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACJ1XN4QAAAAAAAAAAAAel0xKwAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABrbNeEO0wAAAAAAAAAAAdjmXK
dP7AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADzo61afAA
AAAAAAAAABNTtTEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAIJXU3hAAAAAAAAAAAO2bNs+fuAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAVnC5pCwAAAAAAAAADq3DxpGAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAVnC55AwAAAAAAAAAC6evz+gAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQ+r7wpAwAAAAAAAABsa8mLX+wAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAxUFwRsqMAAAAA
AAAC1K/uk+wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAMZFVxO+KfOOAAAAAAB9fNinakOMgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAADT3BTnCvyAkBevkAAAAPrpWWcWdMgAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGhDrAFL8q/OKU0n3gQjYsOVFYy2V5P
j7AAAAAAAAAAAAAAAAAAAAAAAAD/2gAIAQIAAQUA+94//9oACAEDAAEFAPveP//aAAgBAQABBQD/
ABfCSRgxUkXetset+xwCeteyAKqxfK28seQzKY4Uccba0MdhC4Skrsenq6869t9jryX9RW+Ez1mH
g2jlpKGt/t9Wyfw4StlwYD6SpUiY/wDA67maRT2u+m6cIW6zNhIb77sh74KKuqwzxeCovsmW0oqx
ii2vBpMgwNglicgrO+K086zvXewX2Fiy48xngvsY4r8vAr1lmhHxJaGWicEkpukCBLkuSpODXT8k
JNgTo5CJwM8+yw2X7EHRFMWwuX0w6NY9hs1FRU4EsNsgBdDNjJmHMVFVFpJv3UVwHbro2PR592Q7
j0gqo43wFdLUgpjffdzfIb32bcDzEnC+ADxdkONmzH50rK66lq+B4AvhxSJTL6vdVdPP7UeaDDN9
9t98vq9V+p8+Kk4wuEaMSTE7M6ubX5+eqqIl5sKkyGb1rGVsP57czPtQdVVVzERVWtQvoAfnvYJR
ZhnNrAzYmZRE1TzyS9qxHmyNpUvN67CrFhee3CSsau5tXBOmiTTTbLXnvYri617MgQZBCVXQTASB
592Qi+w5cCBKISKvV44OP5/2ZPbbHZQKrEjLgOvQArHn6qiJbCqlTePrrtsoyqmiWwXryDDVpptn
Tz9x1trWy20bEG/ni667bbCOuHpUWN1wFaWFXQ0H0iIiefzJ0SC0Z7I11WedKkN8brwHpOn8BWS4
ww2hQyQLPY+uu221aEahxHANxueo9HXXHnMigiPcTfANzs+oiK45u7vk0oN7UD4ALEmBcAkQfJTc
mmhfeDXAPYxpZEzKpQP2gPwAQl6QoUuS5LlZNFA+6leAexZyxgeSww7IerwZoKL4B7Ol/rnZPXVd
4CITmR8MsSeKT8isAXTpJllphrgHskyquZEaM9LkVsCyCG8Avu6sslZ25AjkUOr+3scBXecsOvZF
Eqn1jvAfaEhdYuPT6q4cktNtst8B9n7qs/GrFaknpkOHHgxuBOzv5XFroCQdnjx8QbE4F7O/lMWi
jmIYDgbs5P8AqYtURUrvA3aLK/vYifioFpWQvA3ZMRXguJAj7SprWiNt8DHYKEBO2u2m2HQB6yz3
BF1EqMOYfXon6IRwRdwfuwpUVFwa4HcMFGmtGWuCFT5+r1W9hszA003c3p1e1Cj+Cp0KPPi2SvSQ
U34yIqrRqirKcGExkMpFsdVmg3viaabub1KjIyqIiJwa+wzJasPXmyLIjSIrvwQ9cKGHK9Th4bXh
EkFGFNCfWa/OdUz0Fd2XW1/oiKvqOPnSlH0A7LUT16JhemmWmdOFNvyK/L5Sf2P1a/S/Mf8Atfrh
/wCn9z//2gAIAQICBj8AXj//2gAIAQMCBj8AXj//2gAIAQEBBj8A/uvgWuJ44gPWYDBBuhIR/DBb
6MdX3rfcI+nGYlH3cU/MGM/bUrhLi3cSQyDiR1zBGpUvIwRRtYmgw0VkDdzDKq5Rg+15sECb8vEd
iRZZe1txxyu0jHtMST5f6qRE1NtLJF0E+8H49SlZ2452HUhX0j5hgiaQx29erAhotOfl+Q7wtCdn
u5VH7St9WpM2tqRJfsMhtEfO2GuLmQySualmNfkWWVwiTwOlSaDiBVx+HFVYMOY6keCIhr2YUiT1
R6xw88zF5ZCWdjtJPyVQaEbCMA291IoHZJ4h5cBO8YRKm90ybxYBtZhx742yYdGo6W8nNEiUmnKd
wHhxLeXBqznqjcq7gPlhJE5R12MpocLbd7fEi2CcekPaws9s4kjYVDA11GL3VC3woOtNQ7XO7o0E
GNi9sT8SE7PCMLdWj8Sn0l3qeQ6ip7yT0YULeEjYMS3Mp4nlYux5ydCE0ZLQtlNHuI8+I7q3YNHI
Kim7m1DmSZxGi5lmNBhorBTcyjLi2J48NDcScMDGpiQUGXLogsbhv0lwaCuxHOw4qNh1ClCRNdEd
WFTs9rkwWuZCIuzEuSjRgRkRsOFSVq3NtRJK7SOy2oR7Du9g92cnkGYT/HDTTOXkc1ZmNSdIjVjS
G5+E/hPonx6g/wAlaMDeyjMj92vL4cF3JZmNSTtJOkrIpoykEHwYtroGpkjUnw0odQMt3IesBSNf
Wc7MSXVwxaSQliTpfuSc4JCo8Bz1Am0iattaHhFNjP2jpl9DuBRh5RqAkfi/UygpAm/iO/owzsas
xJJ5zpl6N3Av0/P+S8uGoiDIb2O4DD3VwxoTSNNyruGm30m6iL9Pz+qdgwbSBv0lseHLYz7zp005
FDNLl4FHz+kMZpcXHw4uau09AwScydp00AbTkMWluRRuAM3hbrfP78qprFaDhp9ts2063t6VQMHk
9lczgAbBkPn7JM2QjUsegYmuXNWldn8Z05+8plpLc5R13IPP8/rxwaFk4B4W6unJFT9PGQ0zfZG7
pwsUYCogCqBuA+fzKO3Ig8tdNS1tkLySGgpu5zhbeMVlbOZ97N8/weSVdMW2tULyOaZbuc442pJe
SD4knJ9ldQEFgDWWaTjI5FT/AB0se7Qx2/amYUFObAjt14pT6cp9InUASdgxPMDWKM+6i9lPOdIo
oJPIMD3MDJGf3j9VfLhZu8G/MyjPgGSDz4EcShEXIKooBqA4pGCgbyaYuIradZLx1KRqhrQtlXo0
YKoqxNABvOEuL6cwM4qIgKkDnwDM8kxG6tBgfl7VAR2iOI+XFAKDkGoAzXUqxIN7HDQ91R8W73z7
OgYLXVw7A9kGi+IaO9/cLxQWlOAHYZDs8WoMwxETXhGSA5L7WDLdylqnqp2V8A0gKoqzGgA2knEF
pT4tOOc8sjZt4tmoJu7+7yGuiKSSbo6/XhpJWLuxqzHMk6StxItbexAmbkMn7tfH1ujUF+Vtmrez
Dq/YX1jhpJGLOxqzHMknSoveLS5uvjzco4h1F6F8tdQMt5OaLGpIHKdwxLeXBq8hrTkG4DSokkWt
rb/GuK7CFPVT7zeSuoJO6om+Fb9aWm9zsHQNLQyrS7uqSz12io6ifdHlrqBnu5DRYUZz0DEtzKav
M5duk6ULiZa2dkRJJXYz9hPHmebUF+XU0a6cJ90dY/RpUcEKl5ZWCIg2lmNAMRWSUMgHHO47cjek
fqHNqCtbQH/SQuw52NB9GlHvy6XlSzU+JpPqHTqClvJzwxxKWPmxNezHrStUD1V3DSUtxVbaOj3M
g7Kcg522DCQwqEijUIiDYFUUA1BRd0Qt1R8SenL2V0mO2t0Mk0rBEUbSThLVKNO/XuJR238w2DUE
8rmixqWJ5gMXF45qZnJHs9keLSR3repS8nX4KEZxRnf7TfRqDuSpo81Il++aHyaSve9/H+kjNbeN
hlK47RHqr5TqEs7YH03ZyPZFPr0j39wCnd0J+I2z3jfw1+vkwsUShI0AVFUUAAyAGoSzTcsbHxke
bR+HOOziIM83N6q/aOI7W1QRwxDhRRqFtf8AZP4tGW2j6kK9aeamSJ5zuxHZ2aCOGMZDeTvZjvJ1
DWv+yfxaNBMg+LdD3kjbzU5DoGoe1PLEfxaNYA/whqHsZ9xV0J/ZOi0xYxHasCV/Z1Dx3AGdvKCf
A3V+vRYLdczLIqDpNMJGNiAKOgU1D3Vpvkjbh9oCowVYUZTQjnGiJKRWO1UyHw7F8p1Ey8IpDc/F
j5M/SHj0Q3ki0lvDxDl92uS6iTJEtbq1rJHykdpcUO0aFFaqD7uvFM3Ig24SKMcKRgKoG4DIaiaH
Bv7Zf0lyatTYjnb49BVEBZ2NFA2knAaUfrLgBpT6o3LqLktblQ8UoIIP04MTgtbvnDLuI5Dzj5eg
24TvbvBPiHO3ibsj1jqNa1u0Dxts5VPKMFiDLZsfhzAeRuT5UJGpZ2NAozJOE7w72QGTIxW52Lzt
ig2ajmhnQSRuKMrCoIw913OajabZtv3Tgw3EbRSLkVYUPyQW1iIjr1pmyQdOBKwFxd75WGQ9kaku
C9gWTkalGHgYZ4L92XGW6KX/AJhg+9tXZR2k648mCHRlI2ggj+nIVxw29vJIfsqTgGZFtozvkOfi
GFkuybuUetklfZwI4kEaLkFUUA8WpXd04Nf5f/5NfqweL+Rf97/hx/8AD/8AYwOH+Sfc95xf5sD/
AEP+js/tT//Z" transform="matrix(0.288 0 0 0.288 0 0)">
			</image>
		</g>
	</mask>
	<g id="HandGrip_copy_xA0_Image_1_" mask="url(#HandGrip_copy_xA0_Image_2_)">
		<g>
			
				<image overflow="visible" width="1250" height="703" id="HandGrip_copy_xA0_Image" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAABOIAAALECAYAAAClo59XAAAACXBIWXMAACZyAAAmcgEhK5fuAAAA
GXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAEklJREFUeNrs3T2LXGUUwPFnk90s
0ZgQMWq4TUQwaGKloFdJogRE0MZWv4GglZVFioCfwU+gbSrt1Lygl4BWGhVBFOQqGjH4lmQzefHM
7JBK5c7uzCme/f3g8OxseWAW5s8ze0sBAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAgK1oyQoAAABYpLPflbKyo2yLH1dj9sTsjdkds9N2qNDlmD9j
LsX8HrM2ulZuHn3AYhDiAAAAWICun3ze3BfzyPSz547p60djHpv+fr9NUaEfYr6J+Szm85iLMddi
bsV8OX7dNpOf2YKEOAAAAOam6yfB7YmYlZhjMSdsBW47GXMmZhRzvm0mgY4tRIgDAABg07q+LMfx
VMzdMe8WXzuF/3Ml5uWY32I+aZty3Uq2BiEOAACATen6ciiO8X/AOhWzbCMw2DjAvRTzXduUC9ZR
PyEOAACADev68kxZ/7rdEduADTsXc6JtymmrqJsQBwAAwIZMb8J9YRMwN4fdjKubEAcAAMDMun7y
MIYPiptwME/jm3HH22byMAcqtM0KAAAA2IDniwgH83Zk+t6iUm7EAQAAMJOuL6tx/FU8mAEWYfwA
h11tU9asoj5uxAEAADCrF4oIB4uyPH2PUSE34gAAABis6yefI/+O2WkbsDBXYu5sm3LLKuriRhwA
AACzaIoIB4s2fo/dbw31EeIAAACYxWtWACletYL6+GoqAAAAg5z9vpSVFV+VgyyjUVk6esAeauJG
HAAAAIMsL5fttgDec2ycEAcAAMAgS0tlty1A6nvuLluoixAHAADAUAetAFI9ZAV1EeIAAAAY6pgV
QKrnrKAuQhwAAABDPWkFkOpFK6iLp6YCAAAwSNeXH+PYbxOQp220m5q4EQcAAMBQIhzAJghxAAAA
AJBAiAMAAACABEIcAAAAACQQ4gAAAAAggRAHAAAAAAmEOAAAAABIIMQBAAAAQAIhDgAAAAASCHEA
AAAAkECIAwAAAIAEQhwAAAAAJBDiAAAAACCBEAcAAAAACYQ4AAAAAEggxAEAAABAAiEOAAAAABII
cQAAAACQQIgDAAAAgARCHAAAAAAkEOIAAAAAIIEQBwAAAAAJhDgAAAAASCDEAQAAAEACIQ4AAAAA
EghxAAAAAJBAiAMAAACABEIcAAAAACQQ4gAAAAAggRAHAAAAAAmEOAAAAABIIMQBAAAAQAIhDgAA
AAASCHEAAAAAkECIAwAAAIAEQhwAAAAAJBDiAAAAACCBEAcAAAAACYQ4AAAAAEggxAEAAABAAiEO
AAAAABIIcQAAAACQQIgDAAAAgARCHAAAAAAkEOIAAAAAIIEQBwAAAAAJhDgAAAAASCDEAQAAAEAC
IQ4AAAAAEghxAAAAAJBAiAMAAACABEIcAAAAACQQ4gAAAAAggRAHAAAAAAmEOAAAAABIIMQBAAAA
QAIhDgAAAAASCHEAAAAAkECIAwAAAIAEQhwAAAAAJBDiAAAAACCBEAcAAAAACYQ4AAAAAEggxAEA
AABAAiEOAAAAABIIcQAAAACQQIgDAAAAgARCHAAAAAAkEOIAAAAAIIEQBwAAAAAJhDgAAAAASCDE
AQAAAEACIQ4AAAAAEghxAAAAAJBAiAMAAACABEIcAAAAACQQ4gAAAAAggRAHAAAAAAmEOAAAAABI
IMQBAAAAQAIhDgAAAAASCHEAAAAAkECIAwAAAIAEQhwAAAAAJBDiAAAAACCBEAcAAAAACYQ4AAAA
AEggxAEAAABAAiEOAAAAABIIcQAAAACQQIgDAAAAgARCHAAAAAAkEOIAAAAAIIEQBwAAAAAJhDgA
AAAASCDEAQAAAEACIQ4AAAAAEghxAAAAAJBAiAMAAACABEIcAAAAACQQ4gAAAAAggRAHAAAAAAmE
OAAAAABIIMQBAAAAQAIhDgAAAAASCHEAAAAAkECIAwAAAIAEQhwAAAAAJBDiAAAAACCBEAcAAAAA
CYQ4AAAAAEggxAEAAABAAiEOAAAAABIIcQAAAACQQIgDAAAAgARCHAAAAAAkEOIAAAAY6qoVAGyc
EAcAAMBQX1sBpPrNCuoixAEAADBUZwWQ6j0rqIsQBwAAwFDnrABSvW8FdRHiAAAAGMqNOMj1iRXU
RYgDAABgqJ+sAFL9bAV1EeIAAAAYZDQq12wBvOfYuCUrAAAAYKiunzw59aBNwMJ91TblEWuoixtx
AAAAzOINK4AUr1tBfdyIAwAAYLCuL8txXI3ZbhuwMDdidrRNuWkVdXEjDgAAgMHaplyP44xNwEKd
EeHq5EYcAAAAM+n6sq+sP83RZ0qYv1sx97VNuWgV9fFHEwAAgJl1fTkdxzGbgLkb34Z7xhrqJMQB
AAAws64vu+P4NuYe24C5+TXmwbYpf1hFnfyPOAAAAGY2DQVv2wTM1dsiXN3ciAMAAGDDur58FMfh
4mYcbMb4JtwXbVOetYq6CXEAAABsSteXk3GMA8LTPmfCTMYPZvg45qO2KSeso37+QAIAALBpXV92
xXEq5o6YJ2K22wr8pxsx52Mux7zUNuUvK9kahDgAAADmpuvL3jjeKetB7t6Yh20Fbvsq5peyHuBe
aZtyyUq2FiEOAACAuev6ycMBj8e8Of3sOX69GrMnZu/0XLUpKrQW83vMpek5fn2zrH8N9a2YD9tm
8potSIgDAABgoc5+X5ZWVibRbV/MozGPxxwq6zfmoDbjG28XYj6N+Tzm4mhU1o4emIQ4AAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACAf/WPAAMA5B+uPh8tx6cAAAAA
SUVORK5CYII=" transform="matrix(0.288 0 0 0.288 0 0)">
			</image>
		</g>
	</g>
</g>
<g id="GP_1_">
	<defs>
		<filter id="Adobe_OpacityMaskFilter_1_" filterUnits="userSpaceOnUse" x="0" y="0" width="360" height="202.464">
			<feColorMatrix  type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 1 0"/>
		</filter>
	</defs>
	<mask maskUnits="userSpaceOnUse" x="0" y="0" width="360" height="202.464" id="G_xA0_Image_2_">
		<g id="GOpacity_Mask_3_" filter="url(#Adobe_OpacityMaskFilter_1_)">
			
				<image overflow="visible" width="1250" height="703" id="GOpacity_Mask_2_" xlink:href="data:image/jpeg;base64,/9j/4AAQSkZJRgABAgEA+gD6AAD/7AARRHVja3kAAQAEAAAAHgAA/+4AIUFkb2JlAGTAAAAAAQMA
EAMCAwYAAA4tAAASzgAAG9b/2wCEABALCwsMCxAMDBAXDw0PFxsUEBAUGx8XFxcXFx8eFxoaGhoX
Hh4jJSclIx4vLzMzLy9AQEBAQEBAQEBAQEBAQEABEQ8PERMRFRISFRQRFBEUGhQWFhQaJhoaHBoa
JjAjHh4eHiMwKy4nJycuKzU1MDA1NUBAP0BAQEBAQEBAQEBAQP/CABEIAsQE4gMBIgACEQEDEQH/
xACkAAEBAQEBAQEBAAAAAAAAAAAABwYFCAQCAwEBAAAAAAAAAAAAAAAAAAAAABAAAAQGAgIDAAID
AAAAAAAAAAUGFyBwBDU2BxUWEAMwQAJgsJCgAREAAAMFBAcFBgQEBwAAAAAAAgMEAAHSszSik3QF
IHAREjKDNRCSE8OEQCExQSIUMFFhUmCRoTOQoLBxgUKCEgEAAAAAAAAAAAAAAAAAAACw/9oADAMB
AAIRAxEAAACgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAmvy8PnmsZMa
xkxrGTGsZMaxkxrGTGsZMaxkxrGTGsZMaxkxrP3kB6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABD+f0OeAAAAAAAAAAAAegAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAATz5qYJmpgmamCZqYJmpgmamCZqYJmpgma
mCZqYJmpgmamCZqYAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAGe0MvO4mYpiZimJn95vWHG4YcbhhxuGHG4YcbhhxuGHFF08uqIAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAl9Ql5jwANritAWAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACX1CXmPAA0G
f0BYAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAJfUJeY8ADQZ/QFgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAl9Ql5jwANBn9AWAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAACX1CXmPAA0Gf0BYAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAJfUJeY8ADQZ/QFgAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAl9Ql5jwANBn9AWAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACX1CX
mPAA0Gf0BYAAAAAAAAYDNdTHlz+3n9AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAS+oS8x4AH9/4DuOGO44Y7jhjuOGO44Y7jhjuOGO44Y+r5Q7Fo8/+gAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABL6hLzHgAdHnaA
0jeDBt4MG3gwbeDBt4MG3gwbeDBt4PP4N3Ref0AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAABL6hLzHgAaDP6AsAAAAAAAAPP4Lh0Of0AAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABL6hLzHgAaDP6AsAAAAAMrlepPyg
7+P2AA8/guHQ5/QAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAEvqEvMeABoM/oCwAAAAAn8/oE/NBYI/YADz+C4dDn9AAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAS+oS8x4AGgz/AOy+oWLohYuiFi6IX2StsdpTFz+g
T80Fgj9gAPP4Lh0Of0AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAABL6hLzHgAAAAAAfr8j6/kDQWCP2AA8/guHQ5/QAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEvqEvMeAAAAAAAADQWCP2AA8/guHQ5/QAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEvqEvMeAAAAAAAADQWCP2
AA8/guHQ5/QAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
HD7gybWDJtYMm1gybWDJtYMm1gybWDJtYJTlaBPzQWCP2AA8/guHQ5/QAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAJ/P6BPzQWCP2AA8/guHQ5/
QAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAPgjVqnpl2oGXa
gZdqBl2oGXagZdqBl2oGXagZdqBl2oGXagZH+Pa4poLBH7AAefwXDoc/oAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAE/n9An5oLBH7AAefwXDoc
/oAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
E/n9An5oLBH7AAefwXDoc/oAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAE/n9An5oLBH7AAefwXDoc/oAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAE/n9An5oLBH7AAefwXDoc/oAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAE/n9An5oLBH7A
AefwXDoc/oAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAE/n9KxJ9lgl1RAPP59pY+h8f2AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHx/wBPoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAH/9oACAECAAEFAP7eP//aAAgBAwABBQD+3j//2gAIAQEAAQUA/rPjXYB7Rmjk
qEOSoQ5KhDkqEOSoQ5KhDkqEOSoQ5KhDkqEOSoQ5KhDkqEOSoQ5KhDkqEOSoQ5KhDkqEOSoQ5KhD
kqEOSoQ5KhHo2Uef890g1BfpOKC/ScUF+k4Z66NK0ybA3DYG4bA3DYG4bA3DYG4bA3DYG4bA3DYG
4bA3DYG4bA3DYG4bA3DYG4bA3DYG4bA3DYG4bA3DYG4bA3DYG4bA3/wwKBZUJDWOeUBzygOeUBzy
gOeUBzygOeUBzygOeUBzygOeUBzygOeUBzygOeUBzygOeUBzygOeUBzygE67LjcxkPs6/Q0xEc1f
q6woR1hQjrChHWFCOsKEdYUI6woR1hQjrChHWFCOsKEdYUI6woR1hQhGkRzSKSQ+zr9Drg49vqMJ
LbOv0KEyuS2zr9ChMrkts6/QoTK5LbOv0KEyuS2zr9ChMrkts6/QoTK5LbOv0KEyuS2zr9ChMrkt
s6/QoTK5LbOv0KEyuS2zr9ChMrkts6/QoTK5LbOv0KEyuS2zr9ChMr+gvVCclZx3VUAm9/tqCeQe
zr9ChMr+hs6/BP2GQezr9DRVtVQVPdVQO6qgd1VA7qqB3VUDuqoHdVQO6qgd1VA7qqB3VUDuqoHd
VQO6qgd1VA7qqAYmleae8ehXKOn9Eg9nX6Tmzr9Cnyr8nBu1tOGtpw1tOGtpw1tOGtpw1tOGtpw1
tOGtpw1tOGtpw1tOGtpw1tOGtp/Jdrf0VpfIPZ1+hQmV/ST9hkHs6/QoTK/pJ+wyD2dfoUJlf0k/
YZB7Ov0KEyv4lupTEhDkqEJhbnJqeQp+wyD2dfoUJlfxbU8ITK4U/YZB7Ov0KEyv4tqeEJlcKfsM
g9nX6FCZX8W1PCEyuFP2GQezr9ChMr+LanhCZXCn7DIPZ1+h9Pu93o9nMG45g3HMG45g3HMG45g3
HMG4K16d0AoNkFPvFEbltf8AnanhCZXCn7DIPZ1++f1+32er9VhpX1/rCEyuFP2GQezr99JCZXCn
7DIPZ1++khMrhT9hkHs6/fSQmVwp+wyD2dfvpITK4U/YZB7Ov30kJlcKfsMgztIlR5VNsng2yeDb
J4Nsng2yeDbJ4Nsng2yeDbJ4Nsng2yeDbJ4Nsng2yeDbJ4Nsngt00XEPhCZXCn7DJTanhCZXCn7D
JTanhCZXCn7DJTanhCZXCn7D/PD39/v1knMG45g3HMG45g3HMG45g3HMG45g3HMG45g3HMG45g3H
MG45g3HMG45g3HMG45g3HMG45g3HMG45g3HMG4qKyrqvCEyuFP2H+eGdL+60tbA3DYG4bA3DYG4b
A3DYG4bA3DYG4bA3DYG4bA3DYG4bA3DYG4bA3DYG4bA3DYG4bA3DYG4bA3DYG4bA3CiS9WnvCEyu
FP2GSm1PCEyuFP2GSm1PCEyuFP2GSm1PCEyuFP2GSm1PCEyuFP2GSm1PCEyuFP2GSm1PCEyuFP2G
Sm1PCEyuFP2GSm1PCEyuFP2GSm1PCEyuFP2GSm1PCEyuFP2GSm1PCEyuFP2GSmxywxMB1hQhGkRz
SKSApJ685qSin9tKUya4coHooKGm/f8AqZ//2gAIAQICBj8AXj//2gAIAQMCBj8AXj//2gAIAQEB
Bj8A/wBM+WJCgkeEnPNKBvAE9+6AYgu2/X+Tm4U92KNuFPdijbhT3Yo24U92KNuFPdijbhT3Yo24
U92KNuFPdijbhT3Yo24U92KNuFPdijbhT3Yo24U92KNuFPdijbhT3Yo24U92KNuFPdijbhT3Yo24
U92KNuFPdijbhT3Yo24U92KNuFPdijbhT3Yo2A88BAitrt9wQCc/Z89j99+oTM8WfMFqdzPFnzBa
nczxZ8wWp1WsLVEBApPMNCEW/tc4wbxuc/YH9Wq09uBqtPbgarT24Gq09uBqtPbgarT24Gq09uBq
tPbgarT24Gq09uBqtPbgarT24Gq09uBqtPbgarT24Gq09uBqtPbgarT24Gq09uBqtPbgarT24Gq0
9uBqtPbgarT24Gq09uD/AAYAI1JBpozCnGuEXu7NghCBs+oTv2tSKLEbUiixG1IosRtSKLEbUiix
G1IosRtSKLEbUiixG1IosRtSKLEbUiixG1IosRtSKLEbUiixG1IosRtSKLEbUiixG1IosRtSKLEb
UiixGxOXEJzizD97dGPc3XbgBGP27BPf8A6iE+EBMO0nHJURxxQvgMAHic//AJc3TVF2JumqLsTd
NUXYm6aouxN01Rdibpqi7E3TVF2JumqLsTdNUXYm6aouxN01Rdibpqi7E3TVF2JumqLsTI1CpEcS
QDxd8wYHhC7aUYF217/1fqIT4QEw7SflQ37SlDhCLd+QgBeJ/wDR2pdPhATDtJDzpJmpdPhATDtJ
DzpJmpdPhATDtJDzpJmpdPhATDtJDzpJmpdPhATDtJDzpJmpdPhATDtJDzpJmpdPhATDtJDzpJmp
dPhATDtJDzpJmpdPhATDtJDzpJmpdPhATDtJDzpJmpdPhATDtJDzpJmpdPhATDtJDzpJmpdPhATD
tJDzpJmpdPhATDtJDzpJnsJKdAqEQUJMEwQHOC/aJ4zAvf8AUF/yC5q8fdLgZAoOFvmnJiTDBv8A
+whACIT/AHfrqET4QEw7SQ86SZ7CnwgJh3ZlmEIlh1CJ8ICYdpAVozHlKC9u4Y5znvdvOeF/Ftd8
HtXj7pcDV4+6XA1ePulwNXj7pcDV4+6XA1ePulwNXj7pcDV4+6XA1ePulwNXj7pcDV4+6XA1ePul
wNXj7pcDV4+6XA1ePulwNXj7pcDBULznnmhC4sI3uc7YFz3ic76XO+Yn9haclcIBRIQllgcEH0hC
7dC73h/LUInwgJh2p1PhATDtJPlwjHkuP39pjnbz3bgBGfDa79rdRHdOjbqI7p0bdRHdOjbqI7p0
bdRHdOjbqI7p0bdRHdOjbqI7p0bdRHdOjbqI7p0bdRHdOjbqI7p0bdRHdOjbqI7p0bdRHdOjbqI7
p0falWPXiA9SSWc8DinP3fEC4ezbv/LbqET4QEw7SQ86SZ7HlmEIlh1CJ8ICYdpIedJM9jyzCESw
6hE+EBMO0kPOkmex5ZhCJYdQifCAmHaSHnSTPw0X2Li3/c+L4niBeL+34e7s2Cd+57cKe7FGyZAq
CS4g7xN94APcL6Cxjdse8T/mHSyzCESw6hE+EBMO0kPOkmfh5X6jyexDzpJmllmEIlh1CJ8ICYdp
IedJM/Dyv1Hk9iHnSTNLLMIRLDqET4QEw7SQ86SZ+HlfqPJ7EPOkmaWWYQiWHUInwgJh2kh50kz8
PK/UeT2IedJM0sswhEsOoRPhATDtJxpBgijA7d0YHvCJ212x+x7vf8GrlF8OJq5RfDiauUXw4mrl
F8OJq5RfDiauUXw4mrlF6OJnANE5WU75G8XeZwVhY0wn/F+zeD/NzOEkUlmuf8gidt/k2V+o8nsQ
86SZpZZhCJYdQifCAmHewOGUN4BO+Agve5/9GKLWHCOCRveFv+94d/Zve/8A8u7EPOkmaWWYQiWH
UInwgJh3saHnSTNLLMIRLDqET4QEw72NDzpJmllmEIlh1CJ8ICYd7Gh50kzSyzCESw6hE+EBMO9j
Q86SZpZZhCJYdQifCAmHexoedJM0sswhEsOoQCta81xoC3FO8MTgu3XCEL5hf8xNxKLwMDcSi8DA
3EovAwNxKLwMDcSi8DA3EovAwNxKLwMDcSi8DA3EovAwNxKLwMDcSi8DA3EovAwNxKLwMDcSi8DA
3EovAwNxKLwMDIvsXmP+58XxPEE4X9vw93ZsC79z+xDzpJmllmEIlh1K5X6jyexDzpJmllmEIlh1
K5X6jyexDzpJmllmEIlh1K5X6jyexDzpJmllmEIlh/j3MTCxPAMCU8QRBfse57ixPc9z3NXKL4cT
Vyi+HE1covhxNXKL4cTVyi+HE1covhxNXKL4cTVyi+HE1covhxNXKL4cTVyi+HE1covhxNXKL4cT
Vyi+HE1covhxNXKL4cTVyi+HE1covhxNXKL4cTVyi+HE1covhxNXKL4cTVyi+HEwfuTzD9zbu+IM
Q93b8dm89/5diHnSTNLLMIRLD/HqtGW9wRqSDCgiF8HPMA8Dnv2f7tVp7cDVae3A1WntwNVp7cDV
ae3A1WntwNVp7cDVae3A1WntwNVp7cDVae3A1WntwNVp7cDVae3A1WntwNVp7cDVae3A1WntwNVp
7cDVae3A1WntwNVp7cDVae3Ayf7k0s37nf3fD3vd4e7t27znfv7EPOkmaWWYQiWHUrlfqPJ7EPOk
maWWYQiWHUrlfqPJ7EPOkmaWWYQiWHUrlfqPJ7EPOkmaWWYQiWHUrlfqPJ7EPOkmaWWYQiWHUrlf
qPJ7EPOkmaWWYQiWHUrlfqPJ7EPOkmaWWYQiWHUrlfqPJ7EPOkmaWWYQiWHUrlfqPJ7EPOkmaWWY
QiWHUrlfqPJ7EPOkmaWWYQiWHUrlfqPJ7EPOkmaWWYQiWHUrlfqPJ7EPOkmaWWYQiWHUrl32KYxT
4Xj+J4YXi3d7wt3bs/PY9umqLsTI1CpEcSQDxd8wYHhC7aUYF217/wBX6IkqADjDQAeYJzxOD9Ln
hC9+0T3fMTmRJTnbppCcosxzn7dggACETtrv1dqboU9yCFnmJkxRI3u3XiLAED3u+OzaFzvy/wAp
p//Z" transform="matrix(0.288 0 0 0.288 0 0)">
			</image>
		</g>
	</mask>
	<g id="G_xA0_Image_1_" mask="url(#G_xA0_Image_2_)">
		<g>
			
				<image overflow="visible" width="1250" height="703" id="G_xA0_Image" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAABOIAAALECAYAAAClo59XAAAACXBIWXMAACZyAAAmcgEhK5fuAAAA
GXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAF0RJREFUeNrs3b+LpHcdwPH5Zjfe
BY0GfxAELQxopVaChYV/gyhYmt4/wH/ESiyClVZaWIm1FqJgZZFD0SBENJHEXDR3l338DjcrV5jd
u+XmPfvsvF7wYbjd2d3jMw/Ms++dH89sAAAAAIC9e8YKAAAAAGD/hDgAAAAACAhxAAAAABAQ4gAA
AAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEOAAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAA
AAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEOAAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAA
AAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEOAAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAA
AAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEOAAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAA
AAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEOAAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAA
AAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEOAAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAA
AAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEOAAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAA
AAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEOAAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAA
AAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEOAAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAA
AAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEOAAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAA
AAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEOAAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAA
AAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEOAAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAA
AAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEOAAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAA
AAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEOAAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAA
AAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEOAAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAA
AAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEOAAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAA
AAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEOAAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAA
AAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEOAAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAA
AAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEOAAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAA
AAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEOAAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAA
AAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEOAAAAAAJCHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAA
AAAgIMQBAAAAQECIAwAAAIDAqRUAsBbLsnxlXpzsZlx2dRtjj8ZjXOdszv05/5zz2hjjnrUBADiJ
BIBrbxfhfjzn9pznNpf/MelsN7APl8XgbQg+j3C/nvP9Ob8X4wAAjptHxAFw7T0S4V7afcgfkljF
oTvnE7vZ2sa431gLAMDx8osMANfesix3Ng8jnPstVnkIbx4+Mu7nY4zvWAcAwPHyCw0A196yLGfu
s1j7YTznzTHGJ60CAOB4+aUGgGtvmWyBG+D9MYaXBQEAOGLPWAEAgPMuAACcEAIAAADAjSDEAQAA
AEBAiAMAAACAgBAHAAAAAAEhDgAAAAACQhwAAAAABIQ4AAAAAAgIcQAAAAAQEOIAABqLFQAAHDch
DgAAAAACQhwAAAAABIQ4AAAAAAgIcQAAAAAQEOIAAAAAICDEAQAAAEBAiAMAAACAgBAHAAAAAAEh
DgAAAAACQhwAAAAABIQ4AAAAAAgIcQAAAAAQEOIAAAAAICDEAQA0hhUAABw3IQ4AAAAAAkIcAAAA
AASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4AoHHPCgAAjpsQ
BwCwf/fn/NEaAACOmxAHALBf2wh3Z84rVgEAcNxOrQAAruyBFRytccnnl93l9umof948jHA/tDYA
gOMmxAHA1ZzN+e2cv1vFUTp5jONjO2/tjpMfjTHetDYAgOM2rACA626ZruF/axtZvjXG+KlbCAAA
eBxeIw4AAAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAA
AAABIQ4AAAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAA
AAABIQ4AAAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAA
AAABIQ4AAAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAA
AAABIQ4AAAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAA
AAABIQ4AAAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAA
AAABIQ4AAAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAA
AAABIQ4AAAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAA
AAABIQ4AAAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAA
AAABIQ4AAAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAA
AAABIQ4AAAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAA
AAABIQ4AAAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAA
AAABIQ4AAAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAA
AAABIQ4AAAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAA
AAABIQ4AAAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAA
AAABIQ4AAAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAA
AAABIQ4AAAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAA
AAABIQ4AAAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgDAAAAgIAQBwAA
AAABIQ4AAAAAAkIcAAAAAAROrQAArr9lWV6cFx+b8/yc23NObIWnfZjNuTvnX2OMV60DAODpE+IA
YB2+Oedrc74857Nznrvk+ouV8X+MCz53Nmcb4H4352WrAgB4+oQ4AFiHRyPcRzcXBxW4qs9bAQDA
/niNOABYhy9tRDj2b/u0ZzEOAGBPhDgAWIdPbR6+PpwIx77dtgIAgP0Q4gBgHbZvziDCAQDAiglx
AAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEOANbhzAoAAGDdhDgAWIf7GzEOAABW
TYgDAAAAgIAQBwAAAAABIQ4AAAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABA
QIgDAAAAgIAQBwAAAAABIQ4AAAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAGA999nDGgAAYN0n
9QDA9Xe6EeIAAGDVhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcA67BYAQAA
rJsQBwDrcG/OA2sAAID1EuIAYB3emPPORowDAIDVOrUCAFiFX8z5zJyPz7k1Z1jJjfH13aXbFADg
hhPiAGAFxhjfs4WbaVmWd3fnZM/aBgDAzeapqQAAh/XanPsbb8gBAHDjCXEAAIf1hzln1gAAcPMJ
cQAAAAAQEOIAAAAAICDEAQAAAEBAiAMAAACAgBAHAAAAAAEhDgAAAAACQhwAAAAABIQ4AAAAAAgI
cQAAAAAQEOIAAAAAICDEAQAAAEBAiAMAAACAgBAHAAAAAAEhDgAAAAACQhwAAAAABIQ4AAAAAAgI
cQAAAAAQEOIAAAAAICDEAQAAAEBAiAMAAACAgBAHAAAAAAEhDgAAAAACQhwAAAAABIQ4AAAAAAgI
cQAAAAAQEOIAAAAAICDEAQAAAEBAiAMAAACAgBAHAAAAAAEhDgAAAAACQhwAAAAABIQ4AAAAAAgI
cQAAAAAQEOIAAAAAICDEAQAAAEBAiAMAAACAgBAHAAAAAAEhDgAAAAACQhwAAAAABIQ4AAAAAAgI
cQAAAAAQEOIAAAAAICDEAQAAAEBAiAMAAACAgBAHAAAAAAEhDgAAAAACQhwAAAAABIQ4AAAAAAgI
cQAAAAAQEOIAAAAAICDEAQAAAEBAiAMAAACAgBAHAAAAAAEhDgAAAAACQhwAAAAABIQ4AAAAAAgI
cQAAAAAQEOIAAAAAICDEAQAAAEBAiAMAAACAgBAHAAAAAAEhDgAAAAACQhwAAAAABIQ4AAAAAAgI
cQAAAAAQEOIAAAAAICDEAQAAAEBAiAMAAACAgBAHAAAAAAEhDgAAAAACQhwAAAAABIQ4AAAAAAgI
cQAAAAAQEOIAAA5kWZbnbQEA4HgIcQAAh/MFKwAAOB5CHAAAAAAEhDgAAAAACAhxAAAAABAQ4gAA
AAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEOANyPAgAAgVMrAIAr+9CyLC9YAxe4P8a4aw0AAGwJ
cQBwdZ+b821rOEpjNx9k2c3f5vzMugAA2BLiAODqvmsFR+tkNx/kwW5e3whxAADsCHEAcDXbR0N9
2hq4xItWAADAOSEOAK5mWAHOtQAAeBLe7Q0AYH8EWwAA/keIAwAAAICAEAcAAAAAASEOAAAAAAJC
HAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEOAAAAAAJC
HAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEOAAAAAAJC
HAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEOAAAAAAJC
HAAAAAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEOgDV43QoA
AIC1E+IAWINXNmIc67RYAQAA506tAIAV+MHu8uXdfdd2xiVfI4CwT+OSY3B7/L0/599WBQDAOSEO
gGtvjPGnZVnOY9xH5nx4zq0LvuRszn2bY4+2x99Fzyx4MOfunL9aFQAA54Q4AFbhkRh3e/ehW5d8
yXu2xh7deozrbI/Bt60KAIBzQhwAq7GNcbYAAACslTdrAAAAAICAEAcAAAAAASEOAAAAAAJCHAAA
AAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEOAAAAAAJCHAAA
AAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEOAAAAAAJCHAAA
AAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEOAAAAAAJCHAAA
AAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEOAAAAAAJCHAAA
AAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEOAAAAAAJCHAAA
AAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEOAAAAAAJCHAAA
AAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwAAAICAEAcAAAAAASEOAAAAAAJCHAAA
AAAEhDgAAAAACAhxAAAAABAQ4gAAAAAgIMQBAAAAQECIAwA4nDHnxDkZAMBxcNIHAHA42wh3a3c5
rAMA4GYT4gAADmdsBDgAgKMhxAEAAABAQIgDAAAAgIAQBwAAAAABIQ4AAAAAAkIcAAAAAASEOACA
w1nmnO0uAQC44YQ4AIDDeTDnnTn3Ng+D3HVw5mYBANgPIQ4A4HC2Ae6NOW/P+c/m8BFs+/Pfc7MA
AOzHqRUAABzMW3NenfPFOc/uPnZ7ztjTz7vo+55HuH+4WQAA9kOIAwA4kDHGX5Zl+cnun9+Y89Ij
52gXRbNl8+SvK7f9ficXfH776LxthPuVWwYAYD+EOACAA3okxr0756tzXtido130EiJP+gYP4zHO
/baPhrsz55duFQAAAAAAAGC1vFkDAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgD
AAAAgIAQBwAAAAABIQ4AAAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgD
AAAAgIAQBwAAAAABIQ4AAAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgD
AAAAgIAQBwAAAAABIQ4AAAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgD
AAAAgIAQBwAAAAABIQ4AAAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgD
AAAAgIAQBwAAAAABIQ4AAAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgD
AAAAgIAQBwAAAAABIQ4AAAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgD
AAAAgIAQBwAAAAABIQ4AAAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgD
AAAAgIAQBwAAAAABIQ4AAAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgD
AAAAgIAQBwAAAAABIQ4AAAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgD
AAAAgIAQBwAAAAABIQ4AAAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgD
AAAAgIAQBwAAAAABIQ4AAAAAAkIcAAAAAASEOAAAAAAICHEAAAAAEBDiAAAAACAgxAEAAABAQIgD
AAAAgMB/BRgAeyq/dzyBhoEAAAAASUVORK5CYII=" transform="matrix(0.288 0 0 0.288 0 0)">
			</image>
		</g>
	</g>
	<g id="P_xA0_Image_1_">
		
			<image overflow="visible" width="302" height="409" id="P_xA0_Image" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAATIAAAGdCAYAAACRjP/+AAAACXBIWXMAACZyAAAmcgEhK5fuAAAA
GXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAACZ1JREFUeNrs3TGMXEcZwPE3dz77
DAZsRwgQQTEiQoiCAgVIAwllaBAFJR01QlRUNEhUVEjpEKIhBUiIikgg0aQLAkVQQAiFQwQkChBI
7Ni5O+/wvdxbWIxze7c383bn3e8nfTqfs7exZ2//O+95d2+7A2jctiUAhAxgzc5Zgvpyzhfjw+Mx
D8RsWRFYyWsx30gpPSNk4wfsasy3Yr4QcykmWRlYyX7M5bhffSU+PhtBuzX/D3YHdSP27phvixgU
sRPzcMx3Yj463MeEbISIfSbmsyIGRWP2yZivLsbMoWUdl4aIfXk4tBQxKOd8zGPDr78Wc8uOrI4+
Xo/EfHx4BAHK6TcGV2IeHe5rDi0reUfMtZi3WQqoom/Xu4b7mpBVXGTnxaD+zmxLyOpy/hFG3DkA
CBmAkAEIGSBkAG3JQgZMKmZCVscb93rUAIo6mN/XhKyOO5YAqpvN72uetNlGFGeWgYnp25NKXhmb
/6jzXMyNhc9r2jrGn6fG9XaV/r81/mweWE63vh/qhhd7C9nZ0kfsB5ZhqXudk/R6183yse7wLd+L
b+9owy9j/mgZaNj9MQ/WOk6lDa+nlF62DDS7Xc758qacG2AzDpfA97SQAVMiZEDzRxjOkbX0HZCz
26uilNKBVRAyRrivWYKV7S7577f7Bwoxa5OQtXXYvmtZV3b+GJcRMyFjhN2Tc5qrf58f98fy3bZc
QgabGrFlDyzz0PW7sX3LJmTUO5flHNlqh5RHrVteWNudYW5ZtrY4VOEsPqhsvcX3fvJgMYpc+nrs
yNp5gEgeeIrdFmnho1dOTOCIRcjq6N/mpfR5lr3O28es4uCIuHlgmAghq/eIs13htnLYU2ZHtjUE
TsjaPlpJQlb/HEDpO4nDoPK3kfW0I2PJnWRW6Xo5/ZpZR9s8RKcpB5Uui5DBaPaPGaiDE1wWh5aM
tLvg6Afw+Y/smy0Ez3kzIWMEXgd4cheGOO3fFbLZwjgVIGSMJaXkB/+eUM7/6dNiqPJdwwS22ABC
Br73cWPCyEec9zjcRMig2ZgxAU72I2LYkcGGO+iO//y7k1wWIYNRd1/Hecb+/Jn9dmv1m+P9yGCF
Hdm5bvn7w80jZkfWICFj0lJKORwnZm9GrL+8VRMy2OSYLb2c1RIy2OiYWYXpcrIfEDIAIQMQMkDI
AIQMQMgAhAxoRpW3FxcyYOyQ2ZEBCBkgZABCBiBkAEIGCBmAkAEIGYCQAUIGIGQAQgYgZICQAQgZ
gJABCBkgZABCBiBkAEIGCBmAkAEIGYCQAUIGcEJZyIDWJSEDpnAUmGpcKUDzdQQQMgAhAxAyQMgA
hAxAyACEDGhC7iq8TEnIgLFDZkcGIGSAkAEIGYCQAQgZIGQAQgYgZABCBggZwCma44ePAAgZIGQA
QgYgZABCBggZgJABCBmAkAHr4qcoAZMImR0ZgJABQgYgZABCBiBkgJABCBmAkAEIGSBkAEIGIGQA
Qgasrzl+QC+AkAFCBiBkAEIGIGSAkAEIGYCQAc3ycy2BSYTMjgxAyAAhAxAy4Kw3x7tfAAgZIGQA
QgYgZABCBggZgJABCBnQLO9+AUwiZHZkAELW+CMPIGRjSpYAhAxAyAAhAxAyACEDEDJAyACEDEDI
AIQMEDIAIQMQMgAhA4QMQMgAhAxAyAAhAxAyACEDOMK5kleWc74aHx6O+fCSi96e+Lq+vcJ1Xon1
/YRvWRp2caNDFnewT8eHx2Ieirk/5p1LvuTOGbjRLhfc8b4/5pvuB0zAfTEXNi5kQ8S+NITsvaV3
eXQ7Me8ZBqai6M99PVV0RGy0G9y6whFOe+jzeRED1tiv3RIhe0TEgDUeqWyVCNkHRAxYk51Sh5Y7
1hJY466sSMgA1k7IACEDEDIAIQOEDKA9OWavVMheGa4QYOyQPR/zWomQ/SrmdTED1hCx78a8WiJk
P4t5ujt8fzExA8aIWB+vH8Y8GXOj/83Tvrzoqe7w2f39M2w/1R2+gDNZa6BixL4X80TMS6VCdj3m
Fwufz2PGf6VCNyCcdfOIfX84tLyRUrpT5E6Wcz4fH651h29v/bmYj3RtvQngrDt8x9rt4fNS/5Lb
X9+DC9d7GvsxzzWyll3hdWxZjfWYTWx9t5f8XQ6GXVcfrv6c/E9jft/fZ+cRK7Ej6+LK9iJm/c7s
zzG/ibnU2K4sD5MK7qA+GPP1wn/GJ4ZzApu+liV3olM4FCq9Hnli65uW/F1mQ8z6f1T8Z78r65tz
94WKvAXPcMX93PS9++Yuda/C1f411vnXVhf+n+0/IGQAQgYgZICQAQgZwHr9z9Mvcs7XFj9PKV23
REBTIQsvWxKg6ZDFDswTWoHmOEcGCBmAkAEIGSBkAEIGIGQAQgYIGYCQAQgZgJABQgYgZABCBiBk
gJABCBmAkAEIGSBkAEIGIGQAQgYIGYCQAQgZgJABQgYgZABCBiBkgJABCBmAkAEIGSBkAEIGIGQA
QgYIGYCQAQgZgJABQgYgZABCBiBkgJABCBmAkAEIGSBkAEIGIGQAQgYIGYCQAQgZgJABQgYgZABC
BiBkgJABCBmAkAEIGSBkAEIGIGQAQgYIGYCQAQgZgJABQgYgZABCBiBkgJABCBmAkAEIGSBkAEIG
IGQAQgYIGYCQAQgZgJABQgYgZABCBiBkgJABCBmAkAEIGSBkAEIGIGQAQgYIGYCQAQgZgJABQgYg
ZABCBiBkgJABCBmAkAEIGSBkAEIGIGQAQgYIGYCQAQgZgJABQgYgZABCBiBkgJABCBmAkAFCZgkA
IQMQMgAhA4QMQMgAhAxAyAAhAxAyACEDEDJAyACEDEDIAIRsM2VLAEImYoCQrVGyBCBkYgYIGSBk
AEIGIGQAQgYIGYCQAQgZgJABQgYgZABCBiBkgJABCBmAkAEIGSBkAEIGIGQAQgYIGYCQAQgZgJAB
Qsb67VgCEDK3FbhzcAK7MedjktsJhKzldT1nGUDIWpcsAQgZgJABQgYgZABCBiBka3UzJhe6rlnM
viUFIRvTGzEvDB9PG7P+62/H/MuygpCN6R8xT8f8adhNrRqz/usOYq7HvGhZQcjG9GrMUzE/iXl+
xZjNI/bscD0vWFa4Ny+jqePGEKD+gaJ/hv8XYx5Y+PwkEftxzI9i/mJZQchGk1K6k3N+JX75u4Xf
7mP2vpgLS2LW795uxfw25udDxP4Q17lnZeEt7nOWoJ6I2XZ3+E4YV2Ieinl02JntHvFlfQCfjHkm
5u8xfxMxELJNidrF+HBfzNWYS0dc9KWYFyNeN60aCNkm79K2jzgstfuCE/q3AAMAypFxTJ8QYswA
AAAASUVORK5CYII=" transform="matrix(0.288 0 0 0.288 165.8882 41.1841)">
		</image>
	</g>
</g>
</svg>