.photo-gallery {
    margin: 0;
    padding: 0;
    display: inline;
}

.photo-gallery li{
    display: inline;
    text-decoration: none;
}

.photo-gallery img {
    margin: 0;
    padding: 0;    
    border: 0;
}

/* .flex-grid {
  display: flex;
} */

/* .col {
  flex: 1;
}

@media (max-width: 400px) {
  .flex-grid {
    display: block;
  }
}

.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
}

.flex-grid-thirds .col {
  width: 100%;
} */