@media screen and (max-width: 1500px) and (min-width: 256px) {
    html {
        padding: 0rem 0.25rem;        
    }    
}

@media screen and (max-width: 500px) and (min-width: 100px) {
    html {
        font-size: 1rem;
        line-height: 1rem;
    }

    header nav ul li {
        font-size: 1rem;
        padding: 0.40rem; 
        margin: 0.5rem 0.25rem 1rem 0.25rem;       
    }    

    .nav-col {
        max-width: 100%;
        padding: 0;
    }

    .error-404 {
        /* display: block; */
        max-width: 35%;
        max-height: 35%; 
        margin: auto;
    }

    ul, nav ul {
        margin: 0;
        /* margin-right: 0.5rem; */
        padding: 0rem 0.25rem;
    }

    .logo {
        margin: 8% 0 4% 0;        
    }

    .logo svg {
        /* width: 100%; */
        max-width: 100%;
    }
}