@media screen and (max-width: 1500px) and (min-width: 256px) {
    html {
        padding: 1rem;        
    }    
}

@media screen and (max-width: 500px) and (min-width: 100px) {
    html {
        font-size: 2rem;
        line-height: 2rem;
    }

    header nav ul li {
        font-size: 1.5rem;
        padding: 1rem; 
        margin: 0.10rem;       
    }    

    .nav-col {
        max-width: 100%;
        padding: 0;
    }
}