.active {    
    background: #FFF;  
    border: 0;
    border-bottom: 3px solid grey;
}

.active a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

ul li a {
    text-decoration: none;
    color: #AAA;
    font-weight: 500;
}

nav ul li {    
    list-style: none;
    display: inline-block;
    margin-right: 0.5rem;    
    padding: 0.5rem 1.75rem;
    background: #FFF;
    border: 0;
    /* border-radius: 0.15rem; */
    /* border: 0.01rem solid #323; */       
}

nav ul {
    margin-right: 0.5rem;
    padding: 0.25rem;
}

.logo {
    display: block;
    margin: 40px auto;
    padding: 0.25rem;
}

.logoBg {
    z-index: -1;
    opacity: 0.2;
    position: absolute;
    display: inline;
    margin: 40px auto;
    top: 0;
    left: 40%;
}