.active {
    color: #FFF;
    background: #414;    
}

ul li a {
    text-decoration: none;
    color: #FFF;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 0.5rem;
    border-radius: 0.15rem;
    padding: 0.5rem 1.75rem;
    border: 0.01rem solid #323;
    background: #989;        
}

nav ul {
    margin-right: 0.5rem;
    padding: 0.25rem;
}
