---
layout: default
---

<span class="post-header">Blogs</span>

{% include blogNav.html %}

<p class="post-header" {%if page.category %} style="color: #000;" {% endif %}>My Blogs {%if page.category %} - {{page.category}} {% endif %}</p>

{{content}}

{% if page.author %} Author: {{page.author}} {% endif %} {% if page.author and page.source %} | {% endif %} {% if page.source %} Source: {% if page.source contains 'http' or page.source contains 'https' or page.source contains 'www' %}<a href="{{page.source}}">{{page.source}}</a>{% else %}{{page.source}}{% endif %} {% endif %}