---
layout: bloglayout
---

<p class="post-header">{{page.title}}</p>

{{content}}

<!--{% include copyContent.html copyclass='copyContent-content' %}-->

<!-- Each post and blog -->
<script type="application/ld+json">
{ 
    "@context": "http://schema.org", 
    "@type": "BlogPosting",
    "name": "{{page.title}}",
    "headline":"{{ page.title }}",
    "genre":"{{ page.category }}",
    "keywords": "{{page.keywords}}", 
    "url": "{{site.domainUrl}}",
    "inLanguage": "en",
    "dateModified": "{{ page.date | date: '%Y-%m-%d' }}",
    "datePublished": "{{ page.date | date: '%Y-%m-%d' }}",
    {% if page.author contains "George Pius Chettupuzha" %}
        {% include schema/author.html %}
    {% else %}
    "author": {
        "@type": "Person",
        "name": "{{page.source}}",
        "sameAs": [
            "{{page.source}}"
        ]
    },
    {% endif %}
   "publisher":{  
      "@type":"Organization",
      "name":"George Pius Chettupuzha",
      "sameAs":[  
        "https://twitter.com/GDCrocx",
        "https://github.com/gdcrocx",
        "https://plus.google.com/+GeorgeDavisGdcrocx",
        "https://www.facebook.com/GDCrocx",
        "https://www.linkedin.com/in/george-davis-c-0a042563"
      ],
      "logo": {
        "@type": "ImageObject",
        "contentUrl": "{{site.domainUrl}}/img/Portrait.jpg",
        "url": "{{site.domainUrl}}"
    }
   },
   "image":{  
      "@type":"ImageObject",
      "contentUrl":"{{site.domainUrl}}/img/Portrait.jpg",
      "url":"{{site.domainUrl}}",
      "height":"1218",
      "width":"1218"
   },
   "mainEntityOfPage":{  
      "@type":"WebPage",
      "@id":"{{site.domainUrl}}{{ page.url }}"
   },
   "articleBody":"{{ page.content | strip_html | xml_escape | normalize_whitepace | strip_newlines | strip }}"
 }
</script>