<!DOCTYPE html>
<html lang="en-IN">

<head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{page.title}} - {% endif %}GPhotography</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{site.baseUrl}}/css/main.css" rel="stylesheet">
    {% if page.meta %}<meta name="description" content="{{page.meta}}">{% endif %}
    <meta name="google-site-verification" content="CWDLFr406ro2_GNdRc0Hu5g6TJfAhXXd6TnNVwn6x8g" />
</head>

<body>

    {% include siteNav.html %}

    {{content}}

    {% include footer.html %}

    {% if page.url == '/' %}
    <!-- Home Page -->
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "name": "George Pius Chettupuzha",
        "headline":"{{ page.title }}",
        "genre":"{{ page.category }}",
        "keywords": "{{page.keywords}}", 
        "url": "{{site.domainUrl}}",
        "inLanguage": "en",
        "isFamilyFriendly": "True",
        "datePublished":"{{ page.date | date: '%Y-%m-%d' }}",
        "url": "{{site.domainUrl}}",
        "keywords": "{{page.keywords}}",
        {% include schema/author.html %}
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{{site.domainUrl}}"
        }
    }
    </script>
    {% endif %}

</body>

</html>