<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
    </head>

    <body>
        {% include svg.html %}
        <header class="head">
            {% include header.html %}
            {% include nav.html %}
        </header>
        {% include search.html %}
        <section class="margin">
            <div class="content">
                <div class="content_container">
                    <article>
                        {% if page.featimg %}
                            <img class="featimg" src="{{ site.media_folder | prepend: site.baseurl | replace: '//', '/'}}/{{ page.featimg }}" alt="{{ page.featimg }}">
                        {% endif %}

                        <h1 class="page_title">
                            {{ page.title }}
                        </h1>
                        <div class="post_content">
                            {{ content }}
                        </div>
                    </article>
                </div>
                <!-- {% include sidebar.html %} -->
            </div>
        </section>
        {% include footer.html %}
        <script src="{{ site.baseurl | replace: '//', '/' }}/js/build/global.min.js"></script>
        <script type="application/ld+json">
        { 
            "@context": "http://schema.org", 
            "@type": "BlogPosting",
            "name": "{{page.title}}",
            "headline":"{{ page.title }}",
            "genre":"{{ page.category }}",
            "keywords": "{{page.keywords}}", 
            "url": "{{site.url}}",
            "inLanguage": "en",
            "dateModified": "{{ page.date | date: '%Y-%m-%d' }}",
            "datePublished": "{{ page.date | date: '%Y-%m-%d' }}",
            {% if page.author contains "George Pius Chettupuzha" %}
                {% include schema/author.html %}
            {% else %}
            "author": {
                "@type": "Person",
                "name": "{{page.source}}",
                "sameAs": [
                    "{{page.source}}"
                ]
            },
            {% endif %}
            "publisher":{  
                "@type":"Organization",
                "name":"George Pius Chettupuzha",
                "sameAs":[                
                    "https://www.facebook.com/george.pius.338",
                    "https://www.instagram.com/george_pius_chettupuzha/",
                    "https://plus.google.com/113602369345518062791",
                    "https://twitter.com/Mg17George"
                ],
                "logo": {
                    "@type": "ImageObject",
                    "contentUrl": "{{site.url}}/img/Portrait.jpg",
                    "url": "{{site.url}}"
                }
            },
            "image":{  
                "@type":"ImageObject",
                "contentUrl":"{{site.url}}/img/Portrait.jpg",
                "url":"{{site.url}}",
                "height":"1218",
                "width":"1218"
            },
            "mainEntityOfPage":{  
                "@type":"WebPage",
                "@id":"{{site.url}}{{ page.url }}"
            },
            "articleBody":"{{ page.content | strip_html | xml_escape | normalize_whitepace | strip_newlines | strip }}"
        }
    </script>
    </body>
</html>
